:root {
  --color-brand: 251 109 72;

  --color-primary: 51 58 115;
  --color-secondary: 239 246 255;
  --color-ternary: 254 226 226;
}

.dark {
  --color-brand: 251 109 72;

  --color-primary: 255 255 255;
  --color-secondary: 66 71 105;
  --color-ternary: 53 21 93;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
